# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio
*.dll
*.exe
*.user
*.suo
*.sdf
*.opensdf
*.ilk
*.pdb
*ipch/*

JKGStudio/JKGStudio.vcxproj.user

# Folder directories that we can ignore
*/[Dd]ebug/*
*/[Gg]enerated[Ff]iles/*
*/[Rr]elease/*